[user]
    name = Joe Ashcraft
    email = joeashcraft@gmail.com
[url "ssh://git@github.com"]
[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true
[alias]
    st = status
    lg = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
[core]
    excludesfile = ~/.gitignore_global
[includeIf "gitdir:/home/joe6*/**"]
    path = ~/dotfiles/work/.gitconfig
[includeIf "gitdir:/Users/joe6*/**"]
    path = ~/dotfiles/work/.gitconfig

[backup]
	directory = /Users/joe6623/tmp/git-backup
	directory = /Users/joe6623/tmp/git-backup/
	prefix-date = true
	prefix-time = true
